<header >
    <div class="container ">
      <div class="row ">
        <div class="col-sm">
          <img  src="assets/logo.svg" class="img-reponsive modlogo" alt="modlogo"/>
        </div>
        <div class="col-sm text-right">
          <img src="assets/bg-blocks.svg" class="img-reponsive logoblocks" alt="modlogo"/>
        </div>
      </div>
    </div>
  </header>
<nav >
    <div class="container nav">
      <div class="row ">
          <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#"><span class="active">Dashboard</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Reports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Admin</a>
              </li>
            </ul>
      </div>
    </div>
  </nav>
<div class="container ">
  <div class="container">
    <div class="row">
      <div class="col-sm">
      <label class="search-box-label">Search for an account by account name or ID</label>
      </div>
    </div>
    <div class="row">

      <div class="col-sm">
          <app-search (btnclick)="onSearch($event)"></app-search>
      </div>
    
      <div class="col-sm text-right" >
          <button type="button" class="btn btn-primary">Create new customer</button>
      </div>
    </div>
  </div>
<div *ngIf="!searching" class="row loader-container">
    <img class="loader" src="assets/spinner.svg" alt="">
</div>

  <div *ngIf="searching" table-responsive>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Account ID</th>
          <th scope="col">Account name</th>
          <th scope="col">Account number</th>
          <th scope="col">Sort code</th>
          <th class="right-align" scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{customer.accountId}}</td>
          <td class="strong">{{customer.accountName}}</td>
          <td>{{customer.accountNumber}}</td>
          <td>{{customer.sortCode}}</td>
          <td class="strong right-align">{{customer.balance | currency:customer.currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
